/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-size: 100%;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 1em; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: none; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.8; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: 'Flexo-Regular';
  src: url("fonts/Flexo-Regular.eot");
  src: url("fonts/Flexo-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Flexo-Regular.woff") format("woff"), url("fonts/Flexo-Regular.ttf") format("truetype"), url("fonts/Flexo-Regular.svg#Flexo-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flexo-Bold';
  src: url("fonts/Flexo-Bold.eot");
  src: url("fonts/Flexo-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Flexo-Bold.woff") format("woff"), url("fonts/Flexo-Bold.ttf") format("truetype"), url("fonts/Flexo-Bold.svg#Flexo-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flexo-Light';
  src: url("fonts/Flexo-Light.eot");
  src: url("fonts/Flexo-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Flexo-Light.woff") format("woff"), url("fonts/Flexo-Light.ttf") format("truetype"), url("fonts/Flexo-Light.svg#Flexo-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flexo-Light-Italic';
  src: url("../fonts/Flexo-Light-Italic.eot");
  src: url("../fonts/Flexo-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Flexo-Light-Italic.woff") format("woff"), url("../fonts/Flexo-Light-Italic.ttf") format("truetype"), url("../fonts/Flexo-Light-Italic.svg#Flexo-Light-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Flexo-Italic';
  src: url("fonts/Flexo-Italic.eot");
  src: url("fonts/Flexo-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Flexo-Italic.woff") format("woff"), url("fonts/Flexo-Italic.ttf") format("truetype"), url("fonts/Flexo-Italic.svg#Flexo-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'flexobold_italic';
  src: url("fonts/Durotype-Flexo-BoldIt_0.eot");
  src: local("?"), url("fonts/Durotype-Flexo-BoldIt_0.woff") format("woff"), url("fonts/Durotype-Flexo-BoldIt_0.ttf") format("truetype"), url("fonts/Durotype-Flexo-BoldIt_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FlexoMedium';
  src: url("fonts/durotype-flexo-medium.eot");
  src: url("fonts/durotype-flexo-medium.eot") format("embedded-opentype"), url("fonts/durotype-flexo-medium.woff2") format("woff2"), url("fonts/durotype-flexo-medium.woff") format("woff"), url("fonts/durotype-flexo-medium.ttf") format("truetype"), url("fonts/durotype-flexo-medium.svg#FlexoMedium") format("svg"); }

@font-face {
  font-family: 'FlexoMediumItalic';
  src: url("../fonts/durotype-flexo-mediumit.eot");
  src: url("../fonts/durotype-flexo-mediumit.eot") format("embedded-opentype"), url("../fonts/durotype-flexo-mediumit.woff2") format("woff2"), url("../fonts/durotype-flexo-mediumit.woff") format("woff"), url("../fonts/durotype-flexo-mediumit.ttf") format("truetype"), url("../fonts/durotype-flexo-mediumit.svg#FlexoMediumItalic") format("svg"); }

@font-face {
  font-family: 'Myriad-pro';
  src: url("fonts/myriadpro-cond.eot?v=1");
  src: url("fonts/myriadpro-cond.eot?v=1#iefix") format("embedded-opentype"), url("fonts/myriadpro-cond.ttf?v=1") format("truetype"), url("fonts/myriadpro-cond.woff?v=1") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad-pro';
  src: url("fonts/myriadpro-boldcond.eot?v=1");
  src: url("fonts/myriadpro-boldcond.eot?v=1#iefix") format("embedded-opentype"), url("fonts/myriadpro-boldcond.ttf?v=1") format("truetype"), url("fonts/myriadpro-boldcond.woff?v=1") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Myriad-pro';
  src: url("fonts/myriadpro-cond.eot?v=1");
  src: url("fonts/myriadpro-cond.eot?v=1#iefix") format("embedded-opentype"), url("fonts/myriadpro-cond.ttf?v=1") format("truetype"), url("fonts/myriadpro-cond.woff?v=1") format("woff");
  font-weight: 300;
  font-style: 300; }

/* Calc */
/* Transition */
/* Rotate */
body {
  font-family: sans-serif;
  font-weight: normal;
  color: #555;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body a {
    color: #005577;
    text-decoration: none;
    outline: 0 none;
    -webkit-tap-highlight-color: transparent; }
    body a:hover {
      color: #0055ff; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

::-webkit-input-placeholder {
  color: #555; }

::-moz-placeholder,
input::-moz-placeholder {
  color: #555;
  opacity: 1; }

:-ms-input-placeholder {
  color: #555;
  opacity: 1; }

button {
  border: 0 none; }

/*A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*Remove the gap between images and the bottom of their containers */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none; }

/*==========================================================================
  Helper classes
========================================================================== */
.relative {
  position: relative; }

/* Absolute layers */
.absolute, .absolute-BottomLeft, .absolute-BottomRight, .absolute-TopLeft, .absolute-TopRight {
  position: absolute; }

.absolute-BottomLeft {
  bottom: 0;
  left: 0; }

.absolute-BottomRight {
  bottom: 0;
  right: 0; }

.absolute-TopLeft {
  left: 0;
  top: 0; }

.absolute-TopRight {
  right: 0;
  top: 0; }

/* Alignment */
.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

/* Texts Format */
.bold {
  font-weight: 500; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

/* Limit inside layer */
.limiter {
  margin: 0 auto;
  position: relative;
  max-width: 980px; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.visible {
  visibility: visible; }

.opacity-show {
  opacity: 1.0 !important; }

.transparent {
  opacity: 0.5; }

.inline-block {
  display: inline-block;
  vertical-align: top; }

.block {
  display: block; }

.overlayer {
  overflow: hidden; }

/* Float side */
.side-left {
  float: left; }

.side-right {
  float: right; }

/* Clear both */
.clear {
  clear: both; }

.error-inline {
  bottom: -26px;
  color: #ae0404;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 500; }

/* Reset ul, ol styles and children li */
.unstyled, .unstyled-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.unstyled-list > li {
  float: left;
  list-style: none; }

/*==========================================================================
  Font Styles
========================================================================== */
h1, h2, h3 {
  font-family: "Myriad-pro";
  font-weight: 300; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
http://purecss.io/
*/
/* ==========================================================================
   Pure Base Extras
   ========================================================================== */
/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */
.hidden,
[hidden] {
  display: none !important; }

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.pure-img {
  max-width: 100%;
  height: auto;
  display: block; }

.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center; }

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */ }

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0; }

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
  background-color: transparent; }

.pure-table-odd td {
  background-color: #f2f2f2; }

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

/* BORDERED TABLES */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb; }

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/
.pure-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

.pure-u {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-g [class*="pure-u"] {
  font-family: sans-serif; }

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%; }

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%; }

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%; }

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%; }

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%; }

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%; }

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
  *width: 24.9690%; }

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%; }

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%; }

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%; }

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%; }

.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%; }

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%; }

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
  *width: 49.9690%; }

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%; }

.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%; }

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%; }

.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%; }

.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%; }

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%; }

.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
  *width: 74.9690%; }

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%; }

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%; }

.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%; }

.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%; }

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%; }

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%; }

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%; }

@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%; } }

@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-5,
  .pure-u-md-2-5,
  .pure-u-md-3-5,
  .pure-u-md-4-5,
  .pure-u-md-5-5,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-8,
  .pure-u-md-3-8,
  .pure-u-md-5-8,
  .pure-u-md-7-8,
  .pure-u-md-1-12,
  .pure-u-md-5-12,
  .pure-u-md-7-12,
  .pure-u-md-11-12,
  .pure-u-md-1-24,
  .pure-u-md-2-24,
  .pure-u-md-3-24,
  .pure-u-md-4-24,
  .pure-u-md-5-24,
  .pure-u-md-6-24,
  .pure-u-md-7-24,
  .pure-u-md-8-24,
  .pure-u-md-9-24,
  .pure-u-md-10-24,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-md-1-12,
  .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-md-1-8,
  .pure-u-md-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-md-1-6,
  .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-md-3-8,
  .pure-u-md-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-md-5-12,
  .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-md-1-2,
  .pure-u-md-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-md-7-12,
  .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-md-5-8,
  .pure-u-md-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-md-2-3,
  .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-md-3-4,
  .pure-u-md-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-md-5-6,
  .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-md-7-8,
  .pure-u-md-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-md-11-12,
  .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-5-5,
  .pure-u-md-24-24 {
    width: 100%; } }

@media screen and (min-width: 64em) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-3,
  .pure-u-lg-2-3,
  .pure-u-lg-1-4,
  .pure-u-lg-3-4,
  .pure-u-lg-1-5,
  .pure-u-lg-2-5,
  .pure-u-lg-3-5,
  .pure-u-lg-4-5,
  .pure-u-lg-5-5,
  .pure-u-lg-1-6,
  .pure-u-lg-5-6,
  .pure-u-lg-1-8,
  .pure-u-lg-3-8,
  .pure-u-lg-5-8,
  .pure-u-lg-7-8,
  .pure-u-lg-1-12,
  .pure-u-lg-5-12,
  .pure-u-lg-7-12,
  .pure-u-lg-11-12,
  .pure-u-lg-1-24,
  .pure-u-lg-2-24,
  .pure-u-lg-3-24,
  .pure-u-lg-4-24,
  .pure-u-lg-5-24,
  .pure-u-lg-6-24,
  .pure-u-lg-7-24,
  .pure-u-lg-8-24,
  .pure-u-lg-9-24,
  .pure-u-lg-10-24,
  .pure-u-lg-11-24,
  .pure-u-lg-12-24,
  .pure-u-lg-13-24,
  .pure-u-lg-14-24,
  .pure-u-lg-15-24,
  .pure-u-lg-16-24,
  .pure-u-lg-17-24,
  .pure-u-lg-18-24,
  .pure-u-lg-19-24,
  .pure-u-lg-20-24,
  .pure-u-lg-21-24,
  .pure-u-lg-22-24,
  .pure-u-lg-23-24,
  .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-lg-1-12,
  .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-lg-1-8,
  .pure-u-lg-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-lg-1-6,
  .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-lg-1-4,
  .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-lg-1-3,
  .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-lg-3-8,
  .pure-u-lg-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-lg-5-12,
  .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-lg-1-2,
  .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-lg-7-12,
  .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-lg-5-8,
  .pure-u-lg-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-lg-2-3,
  .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-lg-3-4,
  .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-lg-5-6,
  .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-lg-7-8,
  .pure-u-lg-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-lg-11-12,
  .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-5-5,
  .pure-u-lg-24-24 {
    width: 100%; } }

@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-5,
  .pure-u-xl-2-5,
  .pure-u-xl-3-5,
  .pure-u-xl-4-5,
  .pure-u-xl-5-5,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-8,
  .pure-u-xl-3-8,
  .pure-u-xl-5-8,
  .pure-u-xl-7-8,
  .pure-u-xl-1-12,
  .pure-u-xl-5-12,
  .pure-u-xl-7-12,
  .pure-u-xl-11-12,
  .pure-u-xl-1-24,
  .pure-u-xl-2-24,
  .pure-u-xl-3-24,
  .pure-u-xl-4-24,
  .pure-u-xl-5-24,
  .pure-u-xl-6-24,
  .pure-u-xl-7-24,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24,
  .pure-u-xl-10-24,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-xl-5-12,
  .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-xl-7-12,
  .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-xl-5-8,
  .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-xl-2-3,
  .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-xl-3-4,
  .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-xl-5-6,
  .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-xl-7-8,
  .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-5-5,
  .pure-u-xl-24-24 {
    width: 100%; } }

.pure-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/*csslint outline-none:false*/
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none transparent;
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.pure-button:focus {
  outline: 0; }

.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none; }

.pure-button-hidden {
  display: none; }

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
  padding: 0.2em 0.5em; }

.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA; }

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block; }

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc; }

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d; }

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white; }

.pure-form select[multiple] {
  height: auto; }

.pure-form label {
  margin: 0.5em 0 0.2em; }

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0; }

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.pure-form-aligned textarea {
  vertical-align: top; }

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em; }

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0; }

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em; }

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

/* Grouped Inputs */
.pure-form .pure-group fieldset {
  margin-bottom: 10px; }

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3; }

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.pure-form .pure-group button {
  margin: 0.35em 0; }

.pure-form .pure-input-1 {
  width: 100%; }

.pure-form .pure-input-2-3 {
  width: 66%; }

.pure-form .pure-input-1-2 {
  width: 50%; }

.pure-form .pure-input-1-3 {
  width: 33%; }

.pure-form .pure-input-1-4 {
  width: 25%; }

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em; }

/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em; }

@media only screen and (max-width: 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0; }
  .pure-form input:not([type]),
  .pure-form input[type="text"],
  .pure-form input[type="password"],
  .pure-form input[type="email"],
  .pure-form input[type="url"],
  .pure-form input[type="date"],
  .pure-form input[type="month"],
  .pure-form input[type="time"],
  .pure-form input[type="datetime"],
  .pure-form input[type="datetime-local"],
  .pure-form input[type="week"],
  .pure-form input[type="number"],
  .pure-form input[type="search"],
  .pure-form input[type="tel"],
  .pure-form input[type="color"],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block; }
  .pure-group input:not([type]),
  .pure-group input[type="text"],
  .pure-group input[type="password"],
  .pure-group input[type="email"],
  .pure-group input[type="url"],
  .pure-group input[type="date"],
  .pure-group input[type="month"],
  .pure-group input[type="time"],
  .pure-group input[type="datetime"],
  .pure-group input[type="datetime-local"],
  .pure-group input[type="week"],
  .pure-group input[type="number"],
  .pure-group input[type="search"],
  .pure-group input[type="tel"],
  .pure-group input[type="color"] {
    margin-bottom: 0; }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%; }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0; }
  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em; } }

/*csslint adjoining-classes: false, box-model:false*/
.pure-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3; }

.pure-menu-list,
.pure-menu-item {
  position: relative; }

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%; }

.pure-menu-link,
.pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap; }

/* HORIZONTAL MENU */
.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap; }

.pure-menu-horizontal .pure-menu-list {
  display: inline-block; }

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

/* Submenus should still be display: block; */
.pure-menu-item .pure-menu-item {
  display: block; }

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3; }

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit; }

.pure-menu-allow-hover:hover > .pure-menu-children,
.pure-menu-active > .pure-menu-children {
  display: block;
  position: absolute; }

/* Vertical Menus - show the dropdown arrow */
.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small; }

/* Horizontal Menus - show the dropdown arrow */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE"; }

/* scrollable menus */
.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden; }

.pure-menu-scrollable .pure-menu-list {
  display: block; }

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /* a little extra padding for this style to allow for scrollbars */
  padding: .5em 0; }

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none; }

/* misc default styling */
.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0; }

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 .3em; }

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64; }

.pure-menu-link {
  color: #777; }

.pure-menu-children {
  background-color: #fff; }

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
  padding: .5em 1em; }

.pure-menu-disabled {
  opacity: .5; }

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent; }

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: #eee; }

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #000; }

.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center; }

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */ }

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0; }

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
  background-color: transparent; }

.pure-table-odd td {
  background-color: #f2f2f2; }

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

/* BORDERED TABLES */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb; }

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

.jcf-radio {
  border-radius: 9px; }

.jcf-radio span {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: #777;
  border-radius: 100%; }

.jcf-radio input[type=radio] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0; }

.jcf-radio.jcf-checked span {
  display: block; }

.jcf-checkbox,
.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 1px solid #777;
  margin: 0 3px 0 0;
  height: 16px;
  width: 16px; }

.jcf-checkbox span {
  position: absolute;
  display: none;
  height: 4px;
  width: 8px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -6px;
  border: 3px solid #777;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"; }

:root .jcf-checkbox span {
  margin: -4px 0 0 -5px; }

.jcf-checkbox input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0; }

.jcf-checkbox.jcf-checked span {
  display: block; }

.jcf-button,
.jcf-file {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #fff; }

.jcf-button {
  vertical-align: top;
  border: 1px solid #777;
  margin: 0 10px 10px 0;
  padding: 5px 10px; }

.jcf-button .jcf-real-element {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  outline: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }

.jcf-file {
  white-space: nowrap; }

.jcf-file .jcf-real-element {
  position: absolute;
  font-size: 200px;
  height: 200px;
  margin: 0;
  right: 0;
  top: 0; }

.jcf-file .jcf-fake-input,
.jcf-file .jcf-upload-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #777;
  line-height: 28px;
  height: 28px; }

.jcf-file .jcf-fake-input {
  text-overflow: ellipsis;
  font-size: 13px;
  width: 125px;
  padding: 0 8px; }

.jcf-file .jcf-upload-button {
  margin: 0 0 0 -1px;
  padding: 0 10px; }

.jcf-scrollable-wrapper {
  box-sizing: content-box;
  position: relative; }

.jcf-scrollbar-vertical {
  position: absolute;
  cursor: default;
  background: #e3e3e3;
  width: 14px;
  bottom: 0;
  right: 0;
  top: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  background: #bbb;
  height: 14px;
  width: 14px;
  left: 0;
  top: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  top: auto;
  bottom: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #888;
  height: 1px;
  width: 14px; }

.jcf-scrollbar-horizontal {
  position: absolute;
  background: #e3e3e3;
  right: auto;
  top: auto;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: #bbb;
  height: 14px;
  width: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0; }

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  position: relative;
  height: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  position: absolute;
  background: #888;
  height: 14px; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3; }

.jcf-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #777;
  background: #fff;
  margin: 0 0 12px;
  min-width: 150px;
  height: 26px; }

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0; }

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px; }

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  background: #aaa;
  width: 26px;
  bottom: 0;
  right: 0;
  top: 0; }

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999; }

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0; }

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px; }

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto; }

.jcf-select.jcf-compact-multiple {
  max-width: 220px; }

.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
  display: inline-block;
  padding-top: 2px;
  content: '...'; }

.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid red; }

.jcf-select-drop.jcf-compact-multiple .jcf-hover {
  background: 0 0; }

.jcf-select-drop.jcf-compact-multiple .jcf-selected {
  background: #e6e6e6;
  color: #000; }

.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
  display: inline-block;
  content: '';
  height: 4px;
  width: 8px;
  margin: -7px 5px 0 -3px;
  border: 3px solid #777;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"; }

.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px; }

.jcf-list,
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  width: 100%; }

.jcf-list {
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px; }

.jcf-list .jcf-list-content {
  overflow: auto; }

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.jcf-list .jcf-option,
.jcf-list ul li {
  overflow: hidden;
  display: block; }

.jcf-list .jcf-overflow {
  overflow: auto; }

.jcf-list .jcf-option {
  white-space: nowrap;
  cursor: default;
  padding: 5px 9px;
  color: #656565;
  min-height: 14px;
  height: 1%; }

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important; }

.jcf-list-box .jcf-selected,
.jcf-select-drop .jcf-hover {
  background: #e6e6e6;
  color: #000; }

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: 700;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000; }

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px; }

.jcf-textarea {
  border: 1px solid #b8c3c9;
  box-sizing: content-box;
  display: inline-block;
  position: relative; }

.jcf-textarea .jcf-scrollbar-horizontal {
  display: none;
  height: 0; }

.jcf-textarea textarea {
  padding: 8px 10px;
  border: none;
  margin: 0; }

.jcf-textarea .jcf-resize {
  position: absolute;
  text-align: center;
  cursor: se-resize;
  background: #e3e3e3;
  font-weight: 700;
  line-height: 15px;
  text-indent: 1px;
  font-size: 12px;
  height: 15px;
  width: 14px;
  bottom: 0;
  right: 0; }

.jcf-textarea .jcf-resize:before {
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  display: block;
  margin: 4px 0 0 3px;
  width: 6px;
  height: 6px;
  content: ''; }

.jcf-number {
  display: inline-block;
  position: relative;
  height: 32px; }

.jcf-number input {
  -moz-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #777;
  padding: 3px 27px 3px 7px;
  margin: 0;
  height: 100%; }

.jcf-number input::-webkit-inner-spin-button,
.jcf-number input::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.jcf-number .jcf-btn-dec,
.jcf-number .jcf-btn-inc {
  position: absolute;
  background: #aaa;
  width: 20px;
  height: 15px;
  right: 1px; }

.jcf-number .jcf-btn-inc {
  top: 1px; }

.jcf-number .jcf-btn-dec {
  top: auto;
  bottom: 1px; }

.jcf-number .jcf-btn-dec:hover,
.jcf-number .jcf-btn-inc:hover {
  background: #e6e6e6; }

.jcf-number.jcf-disabled .jcf-btn-dec:hover,
.jcf-number.jcf-disabled .jcf-btn-inc:hover {
  background: #aaa; }

.jcf-number .jcf-btn-dec:before,
.jcf-number .jcf-btn-inc:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border: 4px solid #aaa; }

.jcf-number .jcf-btn-inc:before {
  margin: -6px 0 0 -4px;
  border-color: transparent transparent #000 transparent; }

.jcf-number .jcf-btn-dec:before {
  margin: -1px 0 0 -4px;
  border-color: #000 transparent transparent transparent; }

.jcf-number .jcf-btn-dec.jcf-disabled:before,
.jcf-number .jcf-btn-inc.jcf-disabled:before,
.jcf-number.jcf-disabled .jcf-btn-dec:before,
.jcf-number.jcf-disabled .jcf-btn-inc:before {
  opacity: .3; }

.jcf-number.jcf-disabled input {
  background: #ddd; }

.jcf-range {
  display: inline-block;
  min-width: 200px;
  margin: 0 10px;
  width: 130px; }

.jcf-range .jcf-range-track {
  margin: 0 20px 0 0;
  position: relative;
  display: block;
  height: 10px; }

.jcf-range .jcf-range-wrapper {
  position: relative;
  background: #e5e5e5;
  border-radius: 5px;
  display: block;
  margin: 5px 0; }

.jcf-range.jcf-vertical {
  min-width: 0;
  width: auto; }

.jcf-range.jcf-vertical .jcf-range-wrapper {
  margin: 0;
  width: 10px;
  height: auto;
  padding: 20px 0 0; }

.jcf-range.jcf-vertical .jcf-range-track {
  height: 180px;
  width: 10px; }

.jcf-range.jcf-vertical .jcf-range-handle {
  left: -5px;
  top: auto; }

.jcf-range .jcf-range-display-wrapper {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  left: 10px;
  right: 10px; }

.jcf-range .jcf-range-display {
  border-radius: 5px;
  position: absolute;
  background: #888;
  width: 10px;
  height: 10px; }

.jcf-range .jcf-range-display.jcf-range-min {
  margin: 0 0 0 -10px;
  padding: 0 0 0 10px; }

.jcf-range .jcf-range-display.jcf-range-max {
  margin: 0 -10px 0 0;
  padding: 0 10px 0 0; }

.jcf-range.jcf-vertical .jcf-range-display-wrapper {
  left: auto;
  right: auto;
  top: 10px;
  bottom: 10px; }

.jcf-range.jcf-vertical .jcf-range-display.jcf-range-min {
  margin: 0 0 -10px;
  padding: 0 0 10px; }

.jcf-range.jcf-vertical .jcf-range-display.jcf-range-max {
  margin: -10px 0 0;
  padding: 10px 0 0; }

.jcf-range .jcf-range-handle {
  position: absolute;
  background: #aaa;
  border-radius: 19px;
  width: 19px;
  height: 19px;
  margin: -4px 0 0;
  z-index: 1;
  top: 0;
  left: 0; }

.jcf-range .jcf-range-mark {
  position: absolute;
  overflow: hidden;
  background: #000;
  width: 1px;
  height: 3px;
  top: -7px;
  margin: 0 0 0 9px; }

.jcf-range.jcf-vertical .jcf-range-mark {
  margin: 0 0 9px;
  left: 14px;
  top: auto;
  width: 3px;
  height: 1px; }

.jcf-range .jcf-active-handle {
  z-index: 2; }

.jcf-range.jcf-focus .jcf-active-handle {
  border: 1px solid red;
  margin: -5px 0 0 -1px; }

.jcf-range.jcf-disabled {
  background: 0 0 !important;
  opacity: .3; }

.jcf-disabled {
  background: #ddd !important; }

.jcf-focus,
.jcf-focus * {
  border-color: red !important; }

html, body {
  margin: 0;
  height: 100%;
  background-color: #042444; }

#bodydivforbg {
  width: 100%;
  float: left;
  background-image: url("../images/bodybg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 1020px;
  min-height: 940px; }
  #bodydivforbg .header {
    height: 106px;
    background: #F7F7F7;
    width: 100%;
    margin: 0 auto;
    min-width: 1020px; }
    #bodydivforbg .header .content .logobcp {
      background: url("../images/logobcp.png") no-repeat;
      width: 149px;
      height: 92px;
      margin-left: 30px;
      float: left; }
    #bodydivforbg .header .content .logolan {
      background: url("../images/logolanpass.jpg") no-repeat left bottom;
      width: 122px;
      height: 43px;
      margin-right: 30px;
      float: right;
      margin-top: 40px; }
  #bodydivforbg .navbar {
    background: url("../images/navbarbg.jpg") repeat-x;
    line-height: 37px;
    height: 37px;
    width: 100%;
    min-width: 1020px;
    margin: 0 auto;
    font-family: 'Flexo-Regular';
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2; }
    #bodydivforbg .navbar .content ul {
      float: right;
      max-width: 1280px;
      margin: 0 auto;
      margin-right: 150px; }
      #bodydivforbg .navbar .content ul li {
        float: left;
        display: block;
        background-image: url("../images/navbar_border.png");
        background-position: left;
        background-repeat: no-repeat; }
        #bodydivforbg .navbar .content ul li a {
          display: block;
          text-decoration: none;
          padding: 0 10px;
          color: #fff;
          float: left;
          font-weight: bold; }
          #bodydivforbg .navbar .content ul li a:hover, #bodydivforbg .navbar .content ul li a:focus {
            background: url("../images/buttonbg.jpg") repeat;
            height: 42px;
            color: #FFF !important;
            float: left; }
    #bodydivforbg .navbar .content .titulo_navbar {
      max-width: 980px;
      min-width: 980px;
      margin: 0 auto;
      font-size: 16px;
      font-weight: bold; }
  #bodydivforbg .wrapper {
    padding-bottom: 50px;
    margin-top: 37px; }
    #bodydivforbg .wrapper .headContent {
      width: 100%;
      min-width: 1020px;
      padding-top: 20px;
      height: 40px;
      color: #000068;
      margin: 0 auto 5px;
      line-height: 1.1;
      float: left;
      background: rgba(247, 247, 247, 0.8);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF7F7F7,endColorstr=#CCF7F7F7)";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF7F7F7,endColorstr=#CCF7F7F7);
      zoom: 1; }
      #bodydivforbg .wrapper .headContent p {
        font-family: 'Flexo-Light';
        font-size: 16px;
        margin: 0; }
    #bodydivforbg .wrapper .bodyContain {
      width: 100%;
      float: left;
      padding-top: 0px;
      margin-bottom: 30px; }
    #bodydivforbg .wrapper #landing-home .banner {
      width: 960px;
      height: 595px;
      background-color: #d56a15;
      background-image: url("../images/logo-bcp-banner.png");
      background-repeat: no-repeat;
      background-position: 95% 95%; }
      #bodydivforbg .wrapper #landing-home .banner .col {
        float: left;
        padding: 30px 0 0 86px; }
      #bodydivforbg .wrapper #landing-home .banner .count {
        margin: 150px 0 0 0;
        width: 265px;
        height: 119px;
        background-image: url("../images/bg-count.png");
        background-repeat: no-repeat;
        font-family: 'Flexo-Bold';
        color: #577eac;
        font-size: 60px;
        text-align: center;
        line-height: 119px; }
      #bodydivforbg .wrapper #landing-home .banner .cards {
        margin: 0 0 0 54px; }
      #bodydivforbg .wrapper #landing-home .banner a.btn-play {
        background-color: #285090;
        border-radius: 4px;
        font-family: 'Flexo-Bold';
        color: #fff;
        font-size: 16px;
        padding: 7px 14px;
        margin: 20px 0 20px 240px;
        display: inline-block; }
    #bodydivforbg .wrapper #landing-home .img-banner {
      display: block;
      width: 100%;
      margin-bottom: 15px; }
    #bodydivforbg .wrapper #landing-home .img-legal {
      display: block;
      width: 100%; }
    #bodydivforbg .wrapper #landing-validate .status-timeline {
      background-position: center -114px; }
    #bodydivforbg .wrapper #landing-validate h1.title-verify {
      font-family: 'Flexo-Bold';
      color: #de4f12;
      font-size: 20px;
      margin: 15px 0 10px; }
    #bodydivforbg .wrapper #landing-validate .content-form {
      background-color: #004b8c;
      width: 500px;
      padding: 50px 70px;
      box-sizing: border-box;
      margin: 0 auto 100px;
      height: auto;
      overflow: hidden;
      color: #fff; }
      #bodydivforbg .wrapper #landing-validate .content-form span.instruction {
        font-size: 13px;
        font-family: 'Flexo-Italic'; }
    #bodydivforbg .wrapper #landing-register .status-timeline {
      background-position: center -57px; }
    #bodydivforbg .wrapper #landing-register h1.title-verify {
      font-family: 'Flexo-Bold';
      color: #de4f12;
      font-size: 20px;
      margin: 15px 0 40px; }
    #bodydivforbg .wrapper #landing-register p {
      font-family: 'FlexoMedium';
      font-size: 16px;
      text-align: center; }
    #bodydivforbg .wrapper #landing-register .content-form {
      background-color: #004b8c;
      width: 500px;
      padding: 20px 70px 50px;
      box-sizing: border-box;
      margin: 0 auto 100px;
      height: auto;
      overflow: hidden;
      color: #fff; }
      #bodydivforbg .wrapper #landing-register .content-form span.instruction {
        font-size: 13px;
        font-family: 'Flexo-Italic'; }
      #bodydivforbg .wrapper #landing-register .content-form .error-captcha {
        font-family: 'Flexo-Italic';
        font-size: 12px;
        color: #ef722e; }
    #bodydivforbg .wrapper #landing-confirmation {
      min-height: 500px; }
      #bodydivforbg .wrapper #landing-confirmation .status-timeline {
        background-position: center 1px; }
      #bodydivforbg .wrapper #landing-confirmation h1.title-verify {
        font-family: 'Flexo-Bold';
        color: #004b8c;
        font-size: 16px;
        margin: 15px 0 30px;
        text-transform: uppercase; }
      #bodydivforbg .wrapper #landing-confirmation p {
        font-family: 'FlexoMedium';
        color: #004b8c;
        font-size: 16px;
        text-align: center;
        margin: 0 0 30px; }
      #bodydivforbg .wrapper #landing-confirmation .input-btn {
        margin: 30px 0 100px;
        padding: 7px 40px;
        display: inline-block;
        height: inherit; }
        #bodydivforbg .wrapper #landing-confirmation .input-btn:hover {
          color: #fff; }
    #bodydivforbg .wrapper #landing-not-activated {
      min-height: 500px; }
      #bodydivforbg .wrapper #landing-not-activated .content-timeline {
        background-image: none; }
      #bodydivforbg .wrapper #landing-not-activated .status-timeline {
        background-position: center 1px; }
      #bodydivforbg .wrapper #landing-not-activated h1.title-verify {
        font-family: 'Flexo-Bold';
        color: #004b8c;
        font-size: 16px;
        margin: 15px 0 30px;
        text-transform: uppercase; }
      #bodydivforbg .wrapper #landing-not-activated p {
        font-family: 'FlexoMedium';
        color: #004b8c;
        font-size: 16px;
        text-align: center;
        margin: 0 0 30px; }
      #bodydivforbg .wrapper #landing-not-activated .input-btn {
        margin: 0 0 100px;
        padding: 0 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block; }
    #bodydivforbg .wrapper #landing-limited {
      min-height: 500px; }
      #bodydivforbg .wrapper #landing-limited .content-timeline {
        background-image: none; }
      #bodydivforbg .wrapper #landing-limited .status-timeline {
        background-position: center 1px; }
      #bodydivforbg .wrapper #landing-limited h1.title-verify {
        font-family: 'Flexo-Bold';
        color: #004b8c;
        font-size: 16px;
        margin: 15px 0 30px;
        text-transform: uppercase; }
      #bodydivforbg .wrapper #landing-limited p {
        font-family: 'FlexoMedium';
        color: #004b8c;
        font-size: 16px;
        text-align: center;
        margin: 0 0 30px; }
      #bodydivforbg .wrapper #landing-limited .input-btn {
        margin: 0 0 100px;
        padding: 0 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block; }

p, span, div, li, ul, section {
  max-height: 1000000px; }

.sectionContent {
  width: 960px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden; }

.row {
  display: block;
  width: 100%;
  padding: 0 0 10px;
  float: left; }

.row-center {
  text-align: center; }

.content {
  max-width: 1280px;
  min-width: 780px;
  margin: 0 auto; }

.contentwrap {
  max-width: 980px;
  min-width: 980px;
  margin: 0 auto; }

.content-timeline {
  width: 387px;
  margin: 50px auto 30px;
  background-image: url("../images/timeline.png");
  background-repeat: no-repeat;
  height: 38px; }
  .content-timeline ul.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block; }
    .content-timeline ul.timeline li {
      display: block;
      float: left;
      font-family: 'Flexo-Bold';
      font-size: 11px;
      color: #717171;
      padding: 23px 0 0;
      width: 33.333%;
      float: left;
      text-align: center; }
      .content-timeline ul.timeline li.on {
        color: #de4f12; }

.forms {
  margin: 0;
  padding: 0;
  width: 100%; }

.row-input-extend-md {
  margin: 0 0 10px; }

.row-input-extend-lg {
  margin: 0 0 25px; }

.input-text {
  width: 100%;
  padding: 0 20px;
  border: 0px;
  background-color: #fff;
  border-radius: 4px;
  color: #9a9a9a;
  font-size: 16px;
  font-family: 'Flexo-Regular';
  font-weight: 600;
  height: 40px;
  box-sizing: border-box; }

.input-read {
  border: 1px solid #fff;
  background-color: #004b8c;
  color: #fff; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9a9a9a; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9a9a9a; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9a9a9a; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #9a9a9a; }

.jcf-select {
  width: 100%;
  border: 0px;
  border-radius: 4px;
  height: 40px;
  margin: 0; }
  .jcf-select .jcf-select-text {
    line-height: 40px;
    color: #9a9a9a;
    font-size: 16px;
    font-family: 'Flexo-Regular';
    font-weight: 600;
    padding: 0 13px; }
  .jcf-select .jcf-select-opener {
    width: 33px;
    background-color: transparent;
    background-image: url("../images/arrow.png");
    background-position: center center;
    background-repeat: no-repeat; }

.input-btn {
  border: 0px;
  background-color: #de4f12;
  border-radius: 3px;
  font-family: 'Flexo-Bold';
  font-size: 16px;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  margin: 30px 0 0;
  cursor: pointer; }
  .input-btn:active {
    background-color: #bb420f; }

em.error {
  font-family: 'Flexo-Italic';
  font-size: 12px;
  color: #ef722e;
  font-weight: bold; }

/* Smartphones (portrait) ----------- */
/* Smartphones (landscape) ----------- */
/* Tablets (portrait) ----------- */
/* Tablets (landscape) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
