﻿
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCP - Tarjetas BCP LATAM Pass</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Theme color (Only Chrome Mobile)-->
    <!-- Facebook meta tags-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <!--Canonical-->
    <link rel="canonical" href="http://localhost">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script>
        var base_url = "http://bcplanpass.dev.wundermanphantasia.pe";

    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://www.schema.org",
        "@@type":    "WebSite",
        "name":     "Website Name",
        "alternateName": "Website Name Alternate",
        "url":      "http://localhost"
        }

    </script>
    <script>
      var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
      function $buo_f(){
       var e = document.createElement("script");
       e.src = "//browser-update.org/update.min.js";
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}


    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXXXXX-X', 'auto');
          ga('send', 'pageview');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-52K4QN5');</script>
    <!-- End Google Tag Manager -->

    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52K4QN5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <input id="identify" type="hidden" data-controller="register" data-action="">
    <div id="bodydivforbg">
        <header class="header">
            <div class="content"><a class="logobcp" href="https://www.bcplatampass.com/"></a><a class="logolan" href="http://www.latam.com/es_pe/latam-pass/" target="_blank"></a></div>
        </header>
        <nav class="navbar">
            <div class="content">
                <ul>
                    <li id="inicio" style="display:none;"><a href="https://www.bcplatampass.com/" tabindex="1" title="Inicio">Inicio</a></li>
                    <li id="MasInformacion"><a href="https://www.bcplatampass.com/masinformacion.aspx" tabindex="5" title="Más Información">Más Información</a></li>
                </ul>
                <div class="titulo_navbar">Tarjeta BCP LATAM Pass</div>
            </div>
        </nav>
        <div class="wrapper">
            <section class="headContent">
                <div class="contentwrap">
                    <p>Tus compras acumulan KMS. LATAM Pass y te acercan a tu próximo viaje.</p>
                </div>
            </section>
            <section class="bodyContain">
                <article class="sectionContent" id="landing-register">
                    <div class="row">
                        <div class="content-timeline status-timeline">
                            <ul class="timeline">
                                <li class="on">Validación</li>
                                <li class="on">&nbsp;Registro</li>
                                <li>Gracias</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-center">
                        <h1 class="title-verify">Tu reto es de<br>S/. @ViewBag.Meta<br>y el bono que ganarás si lo logras es de <br>¡@ViewBag.Bono KMS. LATAM Pass!</h1>
                    </div>
                    <div class="row">
                        <form class="forms" id="frm-register" action="#">
                            <div class="content-form">
                                <div class="row">
                                    <p>Para participar de este reto ingresa todos <br>tus datos en el formulario</p>
                                </div>

                                <div class="row">
                                    <input class="input-text input-read name" type="text" name="name" placeholder="Nombre" maxlength="50" value="@ViewBag.NbrCLI" readonly>
                                </div>
                                <div class="row">
                                    <input class="input-text input-read last_name1" type="text" name="last_name1" placeholder="Apellido paterno" maxlength="50" value="@ViewBag.ApePatCli" readonly>
                                </div>
                                <div class="row">
                                    <input class="input-text input-read last_name2" type="text" name="name" placeholder="Apellido materno" maxlength="50" value="@ViewBag.ApeMatCli" readonly>
                                </div>
                                <div class="row">
                                    <input class="input-text input-read document_type" type="text" name="document_type" placeholder="Tipo de documento" value="@ViewBag.DesTipDoc" maxlength="10" readonly>
                                </div>
                                <div class="row row-input-extend-md">
                                    <input class="input-text input-read document_number" type="text" name="document_number" placeholder="Nro de doc" maxlength="12" value="@ViewBag.NumDoc" readonly>
                                </div>
                                <div class="row">
                                    <input class="input-text email" type="text" name="email" placeholder="Correo electrónico" maxlength="50" value="">
                                </div>
                                <div class="row row-input-extend-lg">
                                    <input class="input-text phone" type="text" name="phone" placeholder="Celular o teléfono" maxlength="9" value="">
                                </div>
                                
                                <div class="row">
                                    <div class="content-recaptcha">
                                        <div class="g-recaptcha" data-sitekey="6LduMDIUAAAAAACZGMZGhGUGeJIaWsWV8H0GwTkm"></div>
                                    </div>
                                    <div class="error-captcha" style="display:none;">Marque el Captcha</div>
                                </div>
                                <div class="row row-center">
                                    <input class="input-btn btn-send-register" type="button" name="send-register" value="Envía tus datos">
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </section>
            <input type="hidden" id="token" value="@TokenHeaderValue()" />
        </div>
    </div>
    <!-- jQuery Librerias-->
    <script src="/static/js/vendor/vendor_all.js" type="text/javascript"></script>
    <!-- Compilado de application.js-->
    <script src="/static/js/bundle.js"></script>
    <script>
        @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    </script>
</body>
</html>